@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.container{
    // size
    width: 100%;
    min-height: calc(100vh - variables.$size-height-header);

    // display
    @include mixins.flex(column, flex-start, center, nowrap, variables.$spacing-12);

    // decoration
    background-color: var(--color-secondary);

    .header{
        // size
        width: 100%;
        min-height: 50vh;

        // position
        position: relative;

        // display
        @include mixins.flex(row, center, flex-end, nowrap, variables.$spacing-6);

        .backgroundImage{
            // size
            width: 100%;
            height: 75%;

            // position
            position: absolute;
            top: 0;
            left: 0;

            // decoration
            object-fit: cover;
            object-position: center;
            image-rendering: auto;
            -webkit-mask-image: linear-gradient(to bottom, black 0, transparent 100%);
            mask-image: linear-gradient(to bottom, black 0, transparent 100%);
        }

        .info{
            // size
            width: calc(100% - variables.$spacing-8 - 4px);

            // position
            z-index: 1;

            // display
            @include mixins.flex(column, flex-start, flex-start, nowrap, variables.$spacing-6);

            @media (min-width: 1400px) {
                max-width: 1400px;
            }

            @media (max-width: variables.$breakpoint-height-sm) {
                // display
                gap: variables.$spacing-3
            }

            .user{
                // size
                width: 100%;

                // display
                @include mixins.flex(row, flex-start, flex-start, nowrap, variables.$spacing-8);

                @media (max-width: variables.$breakpoint-height-sm) {
                    // display
                    gap: variables.$spacing-4;
                }

                .userInfo{
                    // size
                    width: 100%;

                    // display
                    @include mixins.flex(column, flex-start, flex-start, nowrap, variables.$spacing-1);

                    @media (max-width: variables.$breakpoint-height-sm) {
                        // display
                        gap: variables.$spacing-2;
                    }

                    .userInfoTop{
                        // display
                        @include mixins.flex(row, flex-start, center, nowrap, variables.$spacing-3);

                        @media (max-width: variables.$breakpoint-height-sm) {
                            h2{
                                // decoration
                                font-size: variables.$font-size-lg;
                            }
                        }

                        .verify{
                            // display
                            @include mixins.flex(row, flex-start, center, nowrap, variables.$spacing-2);

                            // margin
                            padding: variables.$spacing-2;

                            // decoration
                            transform: translateY(1px);
                            border-radius: variables.$border-radius;
                            background-color: var(--color-flashy-foreground);
                            color: var(--color-primary-foreground);
                            font-weight: variables.$font-weight-medium;
                            font-size: variables.$font-size-sm;
                        }

                        .notVerify{
                            // decoration
                            transform: translateY(1px);
                            color: var(--color-muted-foreground);
                            font-size: variables.$font-size-sm;
                        }

                        .verify, .notVerify{
                            @media (max-width: variables.$breakpoint-height-sm) {
                                // decoration
                                font-size: variables.$font-size-xs;
                            }
                        }
                    }
                    
                    .userInfoBottom{
                        // size
                        width: 100%;

                        // display
                        @include mixins.flex(row, space-between, flex-start);

                        @media (max-width: variables.$breakpoint-height-sm) {
                            .username{
                                // decoration
                                font-size: variables.$font-size-xs;
                            }

                            .userInfoBottomActions{
                                align-self: flex-end;
                            }
                        }

                        .username{
                            // decoration
                            font-size: variables.$font-size-sm;
                            color: var(--color-muted-foreground)
                        }
                        
                        .userInfoBottomActions{
                            // display
                            @include mixins.flex(row, flex-start, center, nowrap, variables.$spacing-2);

                            .userInfoBottomActionsMessage{
                                // margin
                                padding: variables.$spacing-2 variables.$spacing-4;

                                // decoration
                                background-color: var(--color-accent);
                                border-radius: variables.$border-radius-lg;
                                border: 1px solid var(--color-border);
                                cursor: pointer;
                                transition: all .1s ease-in;

                                &:hover{
                                    background-color: var(--color-accent-hover);
                                }

                                @media (max-width: variables.$breakpoint-height-sm) {
                                    // margin
                                    padding: variables.$spacing-1 variables.$spacing-3;
                                    
                                    // decoration
                                    border-radius: variables.$border-radius-md;
                                    font-size: variables.$font-size-xs;
                                }
                            }

                            .userInfoBottomActionsSettings{
                                // margin
                                padding: variables.$spacing-2 variables.$spacing-4;

                                // decoration
                                background-color: var(--color-accent);
                                border-radius: variables.$border-radius-lg;
                                border: 1px solid var(--color-border);
                                cursor: pointer;
                                transition: all .1s ease-in;

                                &:hover{
                                    background-color: var(--color-accent-hover);
                                }
                                
                                @media (max-width: variables.$breakpoint-height-sm) {
                                    // margin
                                    padding: variables.$spacing-1 variables.$spacing-3;

                                    // decoration
                                    font-size: variables.$font-size-xs;
                                }
                            }
                        }
                    }
                }

                .follow{
                    // margin
                    padding: variables.$spacing-2 variables.$spacing-2;

                    // decoration
                    background-color: var(--color-primary);
                    color: var(--color-primary-foreground);
                    border-radius: variables.$border-radius-md;
                    border: none;
                    cursor: pointer;
                    font-weight: variables.$font-weight-medium;
                    transition: background-color .1s ease;

                    &:hover{
                        // decoration
                        background-color: var(--color-terciary-hover);
                        transition: background-color .1s ease;
                    }
                }
            }

            .stats{
                // size
                width: 100%;

                // display
                @include mixins.flex(row);

                //decoration
                border: 1px solid var(--color-border);
                border-radius: variables.$border-radius-lg;
                background-color: var(--color-background);
                box-shadow: variables.$shadow-lg;

                @media (max-width: variables.$breakpoint-height-md) {
                    // decoration
                    box-shadow: variables.$shadow-md;
                }

                @media (max-width: variables.$breakpoint-height-sm) {
                    // decoration
                    box-shadow: variables.$shadow-sm;
                }

                .statItem{
                    // size
                    width: calc(100% / 3);

                    // display
                    @include mixins.flex(column, center, center, nowrap, variables.$spacing-2);
                    
                    // margin
                    padding: variables.$spacing-4;
                    
                    //decoration
                    border-left: 1px solid var(--color-border);

                    @media (max-width: variables.$breakpoint-height-md) {
                        // margin
                        padding: variables.$spacing-2 variables.$spacing-4;

                        h1{
                            // decoration
                            font-size: variables.$font-size-2xl;
                        }
                    }

                    @media (max-width: variables.$breakpoint-height-sm) {
                        // display
                        gap: variables.$spacing-1;

                        h1{
                            // decoration
                            font-size: variables.$font-size-xl;
                        }

                        .statItemLabel{
                            // decoration
                            font-size: variables.$font-size-xs;
                        }
                    }

                    &:nth-child(1){
                        //decoration
                        border-left: none;
                    }

                    .statItemLabel{
                        // decoration
                        color: var(--color-muted-foreground);
                    }
                }
            }
        }
    }

    .section{
        // size
        width: calc(100% - variables.$spacing-8);
        max-width: 1400px;

        // position
        position: relative;

        // display
        @include mixins.flex(row, flex-start, flex-start, nowrap, 5%);

        // padding
        padding-bottom: variables.$spacing-8;

        @media (max-width: variables.$breakpoint-height-md) {
            @include mixins.flex(column-reverse, center, flex-start, nowrap, variables.$spacing-12);
        }

        .about{
            // size
            width: fit-content;

            // display
            @include mixins.flex(column, flex-start, flex-start, nowrap, variables.$spacing-8);

            *{
                white-space: nowrap;
            }

            @media (max-width: variables.$breakpoint-height-md) {
                // size
                width: 100%;
            }

            .aboutItem{
                // size
                width: 100%;

                // display
                @include mixins.flex(column, flex-start, flex-start, nowrap, variables.$spacing-3);
                
                .aboutTitle{
                    // decoration
                    font-weight: variables.$font-weight-semibold;
                }

                .aboutDescriptionContent{
                    // decoration
                    font-size: variables.$font-size-sm;
                    white-space: normal;
                }

                .aboutDescriptionUndefined{
                    // decoration
                    color: var(--color-muted-foreground);
                    font-style: italic;
                }

                .aboutInfoItem{
                    // size
                    width: 100%;

                    // display
                    @include mixins.flex(row, flex-start, center, nowrap, variables.$spacing-2);

                    *{
                        font-size: variables.$font-size-sm;
                    }

                    a{
                        // display
                        @include mixins.flex(row, flex-start, center, nowrap, variables.$spacing-1);
                        
                        span{
                            // decoration
                            color: var(--color-flashy-foreground);

                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }

                    .aboutInfoItemUndefined{
                        // decoration
                        color: var(--color-muted-foreground);
                        font-style: italic;
                    }
                }
            }
        }

        .projects{
            @media (max-width: variables.$breakpoint-height-md) {
                // size
                width: 100%;
            }
        }
    }
}