@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.container{
    // size
    width: 100%;
    height: 100%;

    // display
    @include mixins.flex(column, flex-start, flex-start, nowrap, variables.$spacing-10);

    .header{
        width: 100%;

        // display
        @include mixins.flex(column, flex-start, flex-start, nowrap, variables.$spacing-1);
        
        .title{
            // display
            @include mixins.flex(row, flex-start, center, nowrap, variables.$spacing-2);

            h3{
                // decoration
                font-size: variables.$font-size-lg;
                font-weight: variables.$font-weight-bold;
            }
        }
        
        p{
            // decoration
            font-size: variables.$font-size-sm;
            font-weight: variables.$font-weight-normal;
            color: var(--color-muted-foreground);
        }
    }
    
    .content{
        // size
        width: 100%;

        // display
        @include mixins.flex(column, flex-start, flex-start, nowrap, variables.$spacing-6);

        form{
            // size
            width: 100%;

            // display
            @include mixins.flex(column, flex-start, flex-start, nowrap, calc(variables.$spacing-6));

            .formGroup{
                // size
                width: 100%;

                // display
                @include mixins.flex(column, flex-start, flex-start, nowrap, variables.$spacing-2);

                label{
                    // decoration
                    font-size: variables.$font-size-sm;
                    font-weight: variables.$font-weight-medium;
                }

                .inputGroup{
                    // size
                    width: 100%;

                    // display
                    @include mixins.flex(row, space-between, center, nowrap, variables.$spacing-2);

                    input{
                        // size
                        width: 90%;

                        // margin
                        padding: variables.$spacing-2;

                        // decoration
                        font-size: variables.$font-size-sm;
                        font-weight: variables.$font-weight-normal;
                        background-color: var(--color-muted);
                        border-radius: variables.$border-radius-md;
                        border: 1px solid var(--color-border);
                    }
                }

                .label{
                    // margin
                    padding: 0;

                    // decoration
                    border: none;
                    background-color: transparent;
                    outline: none;
                }
            }

            .addInput{
                // display
                @include mixins.flex(row, flex-start, center, nowrap, variables.$spacing-1);

                // margin
                padding: variables.$spacing-1 variables.$spacing-2;

                //decoration
                border: 1px solid var(--color-border);
                border-radius: variables.$border-radius-md;
                background-color: var(--color-muted);
                color: var(--color-primary);
                font-size: variables.$font-size-sm;
                transition: all .1s ease-in;

                &:hover{
                    background-color: var(--color-accent);
                }
            }
        }
    }

    .footer{
        // size
        width: 100%;

        // display
        @include mixins.flex(row, space-between, center);

        .close{
            // display
            @include mixins.flex(row, center, center);

            // margin
            padding: variables.$spacing-2;

            // decoration
            font-size: variables.$font-size-sm;
            font-weight: variables.$font-weight-normal;
            background-color: var(--color-background);
            border-radius: variables.$border-radius-md;
            border: 1px solid var(--color-border);

            &:hover{
                background-color: var(--color-muted);
            }
        }

        .buttonSubmit{
            // margin
            padding: variables.$spacing-2;

            // decoration
            font-size: variables.$font-size-sm;
            font-weight: variables.$font-weight-normal;
            background-color: var(--color-primary);
            color: var(--color-primary-foreground);
            border-radius: variables.$border-radius-md;
            border: 1px solid var(--color-border);
        }
    }
}