@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.modalOverlay {
  // size
  width: 100vw;
  height: 100vh;

  // position
  position: fixed;
  top: 0;
  left: 0;
  z-index: variables.$z-index-modal;

  // display
  @include mixins.flex(row, center, center);

  // decoration
  background: rgba(0,0,0, 0.7);
  cursor: pointer;

  // animation
  animation: fadeIn 0.2s ease;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  }

  .modalContent {
    // size
    min-width: 300px;
    max-height: 90%;

    // position
    position: relative;

    // margin
    padding: variables.$spacing-8;

    // decoration
    border-radius: variables.$border-radius-md;
    box-shadow: variables.$shadow-md;
    cursor: auto;
    background: var(--color-background);
    overflow-y: scroll;

    @media (min-width: variables.$breakpoint-sm) {
        max-width: 485px;
    }

    .closeButton {
      // position
      position: absolute;
      top: variables.$spacing-3;
      right: variables.$spacing-3;

      // decoration
      cursor: pointer;
    }
  }
}