@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.container{
    // size
    width: 100%;

    //display
    @include mixins.flex(column, flex-start, flex-start, nowrap, variables.$spacing-16);

    .header{
        // size
        width: 100%;

        //display
        @include mixins.flex(column, flex-start, flex-start, nowrap, calc(variables.$spacing-6 - variables.$spacing-1));

        .top{
            // size
            width: 100%;

            //display
            @include mixins.flex(row, space-between);

            .topActions{
                //display
                @include mixins.flex(row, space-between, center, nowrap, variables.$spacing-1);

                button{
                    //display
                    @include mixins.flex(row, center, center, nowrap, variables.$spacing-3);

                    // margin
                    padding: variables.$spacing-2 variables.$spacing-3;

                    // decoration
                    border-radius: variables.$border-radius-md;
                    border: 1px solid var(--color-border);
                    background-color: var(--color-background);

                    //transition
                    transition: all .1s ease;

                    &:hover{
                        // decoration
                        background-color: var(--color-muted);

                        //transition
                        transition: all .1s ease;
                    }
                }
            }
        }

        .description{
            // size
            width: 100%;
            
            // decoration
            color: var(--color-terciary-foreground);
        }

        .info{
            // size
            width: 100%;

            //display
            @include mixins.flex(row, flex-start, center, nowrap, variables.$spacing-4);

            .created_at, .updated_at, .members{
                color: var(--color-terciary-foreground);
                font-size: variables.$font-size-sm;
            }

            .separator{
                border: 2px solid var(--color-border);
            }
        }
    }

    .main{
        // size
        width: 100%;

        //display
        @include mixins.flex(column, flex-start, flex-start, nowrap, variables.$spacing-8);

        .nav{
            // size
            width: 100%;

            //display
            @include mixins.flex(row);

            // margin
            padding: variables.$spacing-1;

            //decoration
            border-radius: variables.$border-radius-md;
            background-color: var(--color-terciary);

            button{
                width: calc(100% / 2);
                // margin
                padding: variables.$spacing-2;

                //decoration
                border-radius: variables.$border-radius-md;
                font-weight: variables.$font-weight-semibold;
                background-color: transparent;
                color: var(--color-muted-foreground);
                font-size: variables.$font-size-sm;
                border: none;
            }

            .active{
                //decoration
                border-radius: variables.$border-radius-md;
                background-color: var(--color-background);
                color: var(--color-primary);
                box-shadow: variables.$shadow-sm;
            }
        }

        .component{
            // size
            width: 100%;

            //display
            @include mixins.flex(row);
        }
    }
}