@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.container{
    // size
    width: 100%;

    // display
    @include mixins.flex(column, flex-start, flex-start, nowrap, variables.$spacing-4);

    @media (max-width: variables.$breakpoint-xs) {
        // display
        gap: variables.$spacing-6;
    }

    .section{
        // size
        width: 100%;

        // display
        @include mixins.flex(column, flex-start, flex-start);

        & > *{
            // margin
            padding: variables.$spacing-4 0;

            @media (max-width: variables.$breakpoint-xs) {
                // margin
                padding: variables.$spacing-3 0;
            }
        }

        .header{
            // size
            width: 100%;

            // display
            @include mixins.flex(row, space-between, center);

            // margin
            padding-top: 0;

            // decoration
            border-bottom: 1px solid var(--color-border);

            @media (max-width: variables.$breakpoint-xs) {
                // display
                @include mixins.flex(column, flex-start, flex-start, nowrap, variables.$spacing-2);
            }
            

            h2{
                // decoration
                font-size: variables.$font-size-xl;
                font-weight: variables.$font-weight-semibold;

                @media (max-width: variables.$breakpoint-sm) {
                        // decoration
                    font-size: variables.$font-size-lg;
                }
            }

            button{
                // margin
                padding: variables.$spacing-1 variables.$spacing-2;

                // decoration
                font-size: variables.$font-size-sm;
                font-weight: variables.$font-weight-medium;
                border: 1px solid var(--color-border);
                border-radius: variables.$border-radius-md;
                background-color: var(--color-muted);

                // transition
                transition: background-color 0.3s ease;

                &:hover{
                    // decoration
                    background-color: var(--color-accent);

                    // transition
                    transition: background-color 0.3s ease;
                }
            }
        }

        .content{
            // size
            width: 100%;

            // display
            @include mixins.flex(column, flex-start, flex-start);

            span{
                // decoration
                font-size: variables.$font-size-sm;
                color: var(--color-muted-foreground);
            }
        }
    }
}
