@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.main{
    // size
    height: calc(100vh - var(--header-height));

    // display
    @include mixins.flex(row, flex-start, flex-start);

    .section{
        // size
        width: calc(100% - variables.$size-width-navigation-default);
        max-height: 100%;
        
        // margin
        margin-left: variables.$size-width-navigation-default;

        // decoration
        overflow-y: auto;
    }
}