@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.navigation{
    // size
    width: variables.$size-width-navigation-collapsed;
    height: calc(100% - var(--header-height));

    // position
    position: absolute;
    top: var(--header-height);
    left: 0;
    z-index: variables.$z-index-navigation;

    // display
    @include mixins.flex(column, space-between, center);

    // margin
    padding: variables.$spacing-4 variables.$spacing-2;

    // decoration
    border-right: 1px solid var(--color-border);
    background-color: var(--color-background);
    overflow: hidden;

    //transition
    transition: width .2s ease;

    &:hover{
        // size
        width: var(--navigation-width-expanded);

        //transition
        transition: width .2s ease;
    }

    .container{
        // size
        width: 100%;
        height: 100%;

        // position
        position: relative;

        // display
        @include mixins.flex(column, space-between, flex-start, nowrap, variables.$spacing-4);

        //decoration
        overflow: hidden;

        .nav {
            // size
            width: 100%;
            max-height: 90%;

            // display
            @include mixins.flex(column);

            // decoration
            font-size: variables.$font-size-sm;
            overflow-x: hidden;
            overflow-y: auto;
            @include mixins.hideScrollbar;

            .section {
                // size
                width: 100%;

                // display
                @include mixins.flex(column, flex-start, flex-start, nowrap, variables.$spacing-1);

                .section_list {
                    // size
                    width: 100%;

                    // display
                    @include mixins.flex(column, flex-start, flex-start, nowrap, variables.$spacing-1);

                    // decoration
                    list-style: none;

                    li {
                        // size
                        min-width: 100%;

                        .section_item{
                            // size
                            min-width: 100%;

                            // display
                            @include mixins.flex(row, flex-start, center, nowrap, variables.$spacing-2);

                            // margin
                            padding: variables.$spacing-2 variables.$spacing-1;

                            // decoration
                            border-radius: variables.$border-radius;

                            // transition
                            transition: background-color 0.2s ease, color 0.2s ease;

                            * {
                                // decoration
                                color: var(--color-muted-foreground);
                                
                                // transition
                                transition: color 0.2s ease;
                            }

                            &:hover {
                                // decoration
                                background-color: var(--color-muted);

                                * {
                                    // decoration
                                    color: var(--color-primary);
                                }
                            }

                            span{
                                // decoration
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }
                    }
                    
                }

                .separator {
                    width: 100%;    
                    height: 1px;
                    background-color: var(--color-border);
                    opacity: 0.4;
                    margin: variables.$spacing-3 0;
                }
            }
        }

        .footer{
            // size
             min-width: 100%;

            // margin
            padding-top: variables.$spacing-4;

            // decoration
            border-top: 1px solid var(--color-border);

            button{
                // size
                 min-width: 100%;

                // display
                @include mixins.flex(row, flex-start, center, nowrap, variables.$spacing-2);

                // decoration
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}